@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
    circle 815px at 23.4% -21.8%,
    rgba(9, 29, 85, 1) 0.2%,
    rgba(0, 0, 0, 1) 100.2%
  );
}

.boxes {
  display: flex;
  gap: 100px;
}

.boxes div {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.boxes div:hover {
  transform: scale(105%);
}

.red {
  background-color: rgb(180, 33, 33);
}

.blue {
  background-color: rgb(52, 52, 236);
}

.green {
  background-color: rgb(45, 177, 45);
}