@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
    circle 815px at 23.4% -21.8%,
    rgba(9, 29, 85, 1) 0.2%,
    rgba(0, 0, 0, 1) 100.2%
  );
}

.boxes {
  display: flex;
  gap: 100px;
}

.boxes div {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.boxes div:hover {
  transform: scale(105%);
}

.tooltip {
  position: absolute;
  min-width: 180px;
  padding: 30px 20px;
  color: white;
  background-color: rgb(73, 84, 231);
  border-radius: 15px;
}

.tooltip.top {
  transform: translateY(-140%);
}

.tooltip.bottom {
  bottom: 0;
  transform: translateY(130%);
}

.tooltip::after {
  position: absolute;
  background-color: inherit;
  transform: rotate(45deg);
  content: '';
  width: 24px;
  height: 24px;
}

.tooltip.top::after {
  left: 18px;
  bottom: -6px;
}

.tooltip.bottom::after {
  right: 18px;
  top: -6px;
}

.close-btn {
  position: absolute;
  z-index: 10;
  top: 8px;
  right: 8px;
  border: none;
  color: white;
  background-color: rgb(153, 64, 64);
  padding: 2px 6px;
  border-radius: 12px;
}

.red {
  background-color: rgb(180, 33, 33);
}

.blue {
  background-color: rgb(52, 52, 236);
}

.green {
  background-color: rgb(45, 177, 45);
}